/*
 * 1rem = 16px
*/

// Breackpoints.
// https://github.com/zellwk/mappy-breakpoints
$breakpoints: (
  xsmall: 0,
  small: 768px,
  medium: 1024px,
  large: 1440px,
  xlarge: 1920px
);

// Container.
$container-width: 75rem;

// Grid.
$grid-columns: 12;
$grid-gutter: 1.25rem;

$font-base: "Montserrat", sans-serif;


$red: #F75D59;
$black: #000000;
$gray: #878787;
$light-gray: #ddd;
$hotpink: hotpink;
$blue: blue;

$base-padding:  3.125rem;
$padding-md: 5rem;
$padding-lg: 7.5rem;
